.container--header1b{
    height: 625px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 73px;
  }
  .container--header1b__left-box{
    display: flex;
    width:554px;
    height: 464px;
    flex-direction: column;
    justify-content: space-between;
  }
  .left-box__first-text{
    
  font-family: 'Poppins';
  font-size: 60px;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: -0.02em;
  color: #2A3342;
  }
  .left-box__second-text{
    
  font-family: 'Poppins';
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  color: #556987;
  }
  .request-a-demo{
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #F0FDF4;
    padding: 14px 28px;
    background: #22C55E;
    box-shadow: 0px 1px 2px rgba(105, 81, 255, 0.05);
    border-radius: 6px;
    border: 1px solid #22C55E;
    margin-top: 32px;
  }
  
  .sign-up-2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #333F51;
    background: #FFFFFF;
    border: 1px solid #D5DAE1;
    box-sizing: border-box;
    box-shadow: 0px 1px 2px rgba(105, 81, 255, 0.05);
    border-radius: 6px;
    padding: 14px 28px;
    margin-left: 16px;
  }
 