* {
  box-sizing: border-box;
}
@import 'container-navigations.scss';
@import 'container-cta.scss';
@import 'container-footer.scss';
@import 'container-header1b.scss';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
html, body {
  min-height: 100%;
}
body{
  background-color: grey;
}
a{
  text-decoration: none;
  color: black;
  padding-bottom: 16px;
}



